
#container {
  width: 400px;
  height: 700px;
  margin: 50px auto;
}
#divValue {
  width: inherit;
  font-size: 60px;
  height: 70px;
  border: 2px solid black;
  border-radius: 15%;
  text-align: right;
}

#cub {
  font-size: 36px;
  text-align: center;
  color: seashell;
  width: 100px;
  height: 100px;
  border-radius: 15%;
  background: red;
}
